<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="D&eacute;monstrateur Laclasse.com <-> GAR">
    <meta name="author" content="">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Publipostage</title>

    <!-- Bootstrap core CSS with yeti theme-->
    <link href='<%= APP_PATH %>/bower_components/bootswatch/yeti/bootstrap.min.css' rel='stylesheet' />

    <!-- font AWESOME CSS --> 
    <link href='<%= APP_PATH %>/bower_components/Font-Awesome/css/font-awesome.min.css' rel='stylesheet' />
    
    <!-- gritter style --> 
    <link href="<%= APP_PATH %>/bower_components/gritter/css/jquery.gritter.css" rel='stylesheet' />
      
    <!-- styles for interfaces -->
    <link href='<%= APP_PATH %>/bower_components/laclasse-common-client/fonts/styles.css' rel='stylesheet' />
    <link href='<%= APP_PATH %>/bower_components/angular-loading-bar/src/loading-bar.css' rel='stylesheet' />
    <link href='<%= APP_PATH %>/bower_components/laclasse-common-client/css/main.css' rel='stylesheet' />

     <!-- Custom styles for this template -->
    <link href="<%= APP_PATH %>/styles/fonts.css" rel="stylesheet">
    <link href="<%= APP_PATH %>/styles/main.css" rel="stylesheet">
    <link href="<%= APP_PATH %>/styles/docs.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="myApp">

    <!-- Site header and navigation -->
      <header class="top navbar-inverse" style="visibility:hidden;" role="navigation" ng-show="showHeader()" my-visible="showHeader()" >
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Laclasse > Publipostage</a>
            <a class="navbar-brand" href="#"><i class="fa fa-home"></i></a>
          </div>
          <nav class="navbar-collapse collapse" role="navigation">
              <ul class="navbar-nav nav">
                  <!--<li><a href="<%= APP_PATH %>/">Home</a></li> -->
                  <!-- <li><a href="#">Contact</a></li> -->
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <% unless logged? %>
                  <li>
                  <a href='<%= APP_PATH %>/login' title='Connexion'><i class="fa fa-sign-in fa-2x"></i> Connexion</a><br>
                  </li>
                <% else %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%="#{env['rack.session'][:current_user][:info]['LaclassePrenom']}" +' '+ "#{env['rack.session'][:current_user][:info]['LaclasseNom']}" %>
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-user fa-stack-1x"></i>
                      </span>
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li class="divider"></li>
                      <li><a href='<%= APP_PATH %>/logout' title='Déconnexion de Laclasse.com'>Déconnexion <i class="fa fa-sign-out fa-1x"></i></a></li>
                    </ul>
                  </li>
                <% end %>
              </ul>
          </nav>
        </div>
      </header>

    <!-- contents -->
      <div class="container-fluid">
        <%= yield %>
      </div>
    <!-- Site footer -->
    <!--
    <div class="bottom">
        <div class="container">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <p>&copy; Laclasse.com 2014</p>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
    -->
      <!--<hr/>
      <footer>
        <p>&copy; Laclasse.com 2014</p>
      </footer> --> 
    <!--</div>--> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="<%= APP_PATH %>/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="<%= APP_PATH %>/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="<%= APP_PATH %>/bower_components/angular/angular.js"></script>
    <script src="<%= APP_PATH %>/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="<%= APP_PATH %>/bower_components/angular-route/angular-route.js"></script>
    <script src="<%= APP_PATH %>/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="<%= APP_PATH %>/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="<%= APP_PATH %>/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="<%= APP_PATH %>/bower_components/tinymce/tinymce.min.js"></script>
    <script src="<%= APP_PATH %>/bower_components/angular-ui-tinymce/src/tinymce.js"></script>
    <script src="<%= APP_PATH %>/bower_components/underscore/underscore.js"></script>
    <script src="<%= APP_PATH %>/bower_components/angular-underscore/angular-underscore.js"></script>
    <script src="<%= APP_PATH %>/bower_components/underscore.string/dist/underscore.string.min.js"></script>
    <script src="<%= APP_PATH %>/bower_components/angular-underscore-string/angular-underscore-string.js"></script>
    <script src="<%= APP_PATH %>/bower_components/select2/select2.js"></script>
    <script src="<%= APP_PATH %>/bower_components/angular-ui-select2/src/select2.js"></script>
    <script src="<%= APP_PATH %>/bower_components/angular-loading-bar/src/loading-bar.js"></script>
    <script src="<%= APP_PATH %>/scripts/externals/pdfjs-1.0.21-dist/build/pdf.js"></script>
    <script src="<%= APP_PATH %>/scripts/externals/pdfjs-1.0.21-dist/build/pdf.worker.js"></script>
    <script src="<%= APP_PATH %>/bower_components/angular-pdf/dist/angular-pdf.js"></script>
    <script src="<%= APP_PATH %>/bower_components/gritter/js/jquery.gritter.js"></script>
    <script src="<%= APP_PATH %>/bower_components/checklist-model/checklist-model.js"></script>
    <script src="<%= APP_PATH %>/scripts/filters/filters.js"></script>
    <script src="<%= APP_PATH %>/scripts/controllers/main.js"></script>
    <script src="<%= APP_PATH %>/scripts/services/constants.js"></script>
    <script src="<%= APP_PATH %>/scripts/services/default.js"></script>
    <script src="<%= APP_PATH %>/scripts/services/authentication.js"></script>
    <script src="<%= APP_PATH %>/scripts/services/messages.js"></script>
    <script src="<%= APP_PATH %>/scripts/services/resources.js"></script>
    <script src="<%= APP_PATH %>/scripts/directives/wizard.js"></script>
    <script src="<%= APP_PATH %>/scripts/directives/directives.js"></script>
    <script src="<%= APP_PATH %>/scripts/services/utils.js"></script>
    <script src="<%= APP_PATH %>/scripts/app.js"></script> 
  </body>
</html>
