<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="D&eacute;monstrateur Laclasse.com <-> GAR">
        <meta name="author" content="">
        <link rel="shortcut icon" href="img/favicon.png">

        <title>Publipostage</title>

        <link href='<%= APP_PATH %>/vendor/bootstrap/dist/css/bootstrap.min.css?v=<%= APP_VERSION %>' rel='stylesheet' />
        <link href='<%= APP_PATH %>/vendor/bootstrap/dist/css/bootstrap-theme.min.css?v=<%= APP_VERSION %>' rel='stylesheet' />

        <!-- font AWESOME CSS -->
        <link href='<%= APP_PATH %>/vendor/Font-Awesome/css/font-awesome.min.css?v=<%= APP_VERSION %>' rel='stylesheet' />

        <!-- gritter style -->
        <link href="<%= APP_PATH %>/vendor/gritter/css/jquery.gritter.css?v=<%= APP_VERSION %>" rel='stylesheet' />

        <!-- styles for interfaces -->
        <link href='<%= APP_PATH %>/vendor/laclasse-common-client/fonts/laclasse-icons.css?v=<%= APP_VERSION %>' rel='stylesheet' />
        <link href='<%= APP_PATH %>/vendor/angular-loading-bar/src/loading-bar.css?v=<%= APP_VERSION %>' rel='stylesheet' />
        <link href='<%= APP_PATH %>/vendor/textAngular/dist/textAngular.css?v=<%= APP_VERSION %>' rel='stylesheet' />
        <link href='<%= APP_PATH %>/vendor/laclasse-common-client/css/main.css?v=<%= APP_VERSION %>' rel='stylesheet' />

        <!-- Custom styles for this template -->
        <link href="<%= APP_PATH %>/css/fonts.css" rel="stylesheet">
        <link href="<%= APP_PATH %>/css/main.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body ng-app="publipostageClientApp" data-ng-strict-di>

        <!-- Site header and navigation -->
        <header class="top navbar-inverse" role="navigation" ng-if="showHeader()" >
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">Laclasse > Publipostage</a>
                    <a class="navbar-brand" href="#/home"><i class="fa fa-home"></i></a>
                </div>
                <nav class="navbar-collapse collapse" role="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li uib-dropdown>
                            <a href="#" uib-dropdown-toggle><%="#{env['rack.session'][:current_user][:info]['LaclassePrenom']}" +' '+ "#{env['rack.session'][:current_user][:info]['LaclasseNom']}" %>
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-square-o fa-stack-2x"></i>
                                    <i class="fa fa-user fa-stack-1x"></i>
                                </span>
                                <b class="caret"></b>
                            </a>
                            <ul uib-dropdown-menu>
                                <li class="divider"></li>
                                <li><a href='<%= APP_PATH %>/logout' title='Déconnexion de Laclasse.com'>Déconnexion <i class="fa fa-sign-out fa-1x"></i></a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <!-- contents -->
        <div class="container-fluid">
            <%= yield %>
        </div>
        <!-- Site footer -->

        <!-- Bootstrap core JavaScript
             ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="<%= APP_PATH %>/vendor/jquery/dist/jquery.min.js?v=<%= APP_VERSION %>"></script>
        <script src="<%= APP_PATH %>/vendor/angular/angular.js?v=<%= APP_VERSION %>"></script>
        <script src="<%= APP_PATH %>/vendor/angular-resource/angular-resource.min.js?v=<%= APP_VERSION %>"></script>
        <script src="<%= APP_PATH %>/vendor/angular-route/angular-route.js?v=<%= APP_VERSION %>"></script>
        <script src="<%= APP_PATH %>/vendor/angular-ui-router/release/angular-ui-router.js?v=<%= APP_VERSION %>"></script>
        <script src="<%= APP_PATH %>/vendor/angular-sanitize/angular-sanitize.min.js?v=<%= APP_VERSION %>"></script>
        <script src="<%= APP_PATH %>/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js?v=<%= APP_VERSION %>"></script>

        <script src='<%= APP_PATH %>/vendor/textAngular/dist/textAngular-rangy.min.js?v=<%= APP_VERSION %>'></script>
        <script src='<%= APP_PATH %>/vendor/textAngular/dist/textAngular-sanitize.min.js?v=<%= APP_VERSION %>'></script>
        <script src='<%= APP_PATH %>/vendor/textAngular/dist/textAngular.min.js?v=<%= APP_VERSION %>'></script>

        <script src="<%= APP_PATH %>/vendor/underscore/underscore.js?v=<%= APP_VERSION %>"></script>
        <script src="<%= APP_PATH %>/vendor/angular-underscore/angular-underscore.js?v=<%= APP_VERSION %>"></script>
        <script src="<%= APP_PATH %>/vendor/underscore.string/dist/underscore.string.min.js?v=<%= APP_VERSION %>"></script>
        <script src="<%= APP_PATH %>/vendor/angular-underscore-string/angular-underscore-string.js?v=<%= APP_VERSION %>"></script>
        <script src="<%= APP_PATH %>/vendor/select2/select2.js?v=<%= APP_VERSION %>"></script>
        <script src="<%= APP_PATH %>/vendor/angular-ui-select2/src/select2.js?v=<%= APP_VERSION %>"></script>
        <script src="<%= APP_PATH %>/vendor/angular-loading-bar/src/loading-bar.js?v=<%= APP_VERSION %>"></script>
        <script src="<%= APP_PATH %>/vendor/pdfjs-dist/build/pdf.combined.js?v=<%= APP_VERSION %>"></script>
        <script src="<%= APP_PATH %>/vendor/angular-pdf/dist/angular-pdf.js?v=<%= APP_VERSION %>"></script>
        <script src="<%= APP_PATH %>/vendor/gritter/js/jquery.gritter.js?v=<%= APP_VERSION %>"></script>
        <script src="<%= APP_PATH %>/vendor/checklist-model/checklist-model.js?v=<%= APP_VERSION %>"></script>

        <script src="<%= APP_PATH %>/js/app.js?v=<%= APP_VERSION %>"></script>

        <script src="<%= APP_PATH %>/js/directives/gritterAdd.js?v=<%= APP_VERSION %>"></script>

        <script src="<%= APP_PATH %>/js/filters/templateItemsTypeFilter.js?v=<%= APP_VERSION %>"></script>

        <script src="<%= APP_PATH %>/js/controllers/homeCtrl.js?v=<%= APP_VERSION %>"></script>
        <script src="<%= APP_PATH %>/js/controllers/destinatairesCtrl.js?v=<%= APP_VERSION %>"></script>
        <script src="<%= APP_PATH %>/js/controllers/messageCtrl.js?v=<%= APP_VERSION %>"></script>
        <script src="<%= APP_PATH %>/js/controllers/modeDiffusionCtrl.js?v=<%= APP_VERSION %>"></script>
        <script src="<%= APP_PATH %>/js/controllers/apercuCtrl.js?v=<%= APP_VERSION %>"></script>
        <script src="<%= APP_PATH %>/js/controllers/HistoriqueCtrl.js?v=<%= APP_VERSION %>"></script>
        <script src="<%= APP_PATH %>/js/controllers/envoiCtrl.js?v=<%= APP_VERSION %>"></script>
        <script src="<%= APP_PATH %>/js/controllers/PDFViewerCtrl.js?v=<%= APP_VERSION %>"></script>

        <script src="<%= APP_PATH %>/js/services/default.js?v=<%= APP_VERSION %>"></script>
        <script src="<%= APP_PATH %>/js/services/security.js?v=<%= APP_VERSION %>"></script>
        <script src="<%= APP_PATH %>/js/services/messages.js?v=<%= APP_VERSION %>"></script>
        <script src="<%= APP_PATH %>/js/services/resources.js?v=<%= APP_VERSION %>"></script>
        <script src="<%= APP_PATH %>/js/services/redirect.js?v=<%= APP_VERSION %>"></script>
        <script>
         'use strict';

         /* constant for static pages routing */
         angular.module('publipostageClientApp')
                .constant('APPLICATION_PREFIX', '<%=APP_PATH%>')
                .constant('BASE_SERVICE_URL', '<%=APP_PATH%>/api');
        </script>
    </body>
</html>
